@page
@model FoodFilesSoftwareAssignment.SetCaloriesModel
@{
    ViewData["Title"] = "SetCalories";
}

<h1>SetCalories</h1>

<hr />
<h4>Current calorie goal</h4>
<hr />
@if (Model.CalorieCount is null)
{
    <strong>There is no Information available for this Day!</strong>
}
else
{
    <strong>Calorie Goal:</strong> @Model.CalorieCount.CalorieGoal
    <br />
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UpdateCalorieGoal.CalorieGoal" class="control-label"></label>
        <input asp-for="UpdateCalorieGoal.CalorieGoal" class="form-control" />
        <span asp-validation-for="UpdateCalorieGoal.CalorieGoal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Calorie Goal" class="btn btn-primary" />
    </div>
</form>

