@page
@model IndexModel
@{
    ViewData["Title"] = "D301 Project";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <br />
                <br />
                <a id="homePageButton" href="/Main/Dashboard" class="btn btn-primary btn-lg btn-block h-100 w-25 font-weight-bolder d-inline align-items-center" role="button">User Dashboard</a>
            </div>
        </div>
    </div>
</div>
