@page
@model IndexModel
@{
    ViewData["Title"] = "D301 Project";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <a id="homePageButton" href="/Main/Dashboard" class="btn btn-primary btn-lg btn-block h-100 w-25 font-weight-bolder d-inline align-items-center" role="button">User Dashboard</a>
                <a id="homePageButton" href="/Main/Calories/SetCalories" class="btn btn-warning btn-lg btn-block h-100 w-25 font-weight-bolder d-inline align-items-center" role="button">Set Calorie Goal</a>
                <a id="homePageButton" href="/Main/Food/AddFood" class="btn btn-success btn-lg btn-block h-100 w-25 font-weight-bolder d-inline align-items-center" role="button">Add New Custom Food</a>
                @*<a id="homePageButton" href="/Main/Food/RemoveFood" class="btn btn-secondary btn-lg btn-block h-100 font-weight-bolder d-flex align-items-center disabled" role="button">Remove Food</a>*@
            </div>
        </div>
    </div>
</div>
