@page
@model FoodFilesSoftwareAssignment.SelectCustomFoodModel
@{
    ViewData["Title"] = "SelectCustomFood";
}

<h1>Select Custom Food</h1>
<a href="/Main/Food/AddFood" class="btn btn-primary" role="button">Add New Custom Food</a>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserFood.CustomFoodId" class="control-label">Choose a Food</label>
        <select asp-for="UserFood.CustomFoodId" asp-items="Model.CustomFood" class="form-control"></select>
        <span asp-validation-for="UserFood.CustomFoodId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserFood.Quantity" class="control-label">Quantity (g)</label>
        <input asp-for="UserFood.Quantity" class="form-control" placeholder="measured in grams" />
        <span asp-validation-for="UserFood.Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Order Food" class="btn btn-primary" />
    </div>
</form>